.high1 
{background: pink;}
#mykitten {width: 80px;}
p {background-color: rgb(43, 226, 86);
    padding: 50;
    margin: 50;}
.high1 {background-color: orange;}
.high2 {background-color: rgba(0, 0, 255, 0.361);}
.high3 {background-color: rgb(203, 116, 203);}
.high4 {background-color: grey;}